<!doctype html>
<html>
  <head>
    <title>Mercado Tecla API</title>
    <style type="text/css">
      body {
      	font-family: Trebuchet MS, sans-serif;
      	font-size: 15px;
      	color: #444;
      	margin-right: 24px;
      }
      
      h1	{
      	font-size: 25px;
      }
      h2	{
      	font-size: 20px;
      }
      h3	{
      	font-size: 16px;
      	font-weight: bold;
      }
      hr	{
      	height: 1px;
      	border: 0;
      	color: #ddd;
      	background-color: #ddd;
      }
      
      .app-desc {
        clear: both;
        margin-left: 20px;
      }
      .param-name {
        width: 100%;
      }
      .license-info {
        margin-left: 20px;
      }
      
      .license-url {
        margin-left: 20px;
      }
      
      .model {
        margin: 0 0 0px 20px;
      }
      
      .method {
        margin-left: 20px;
      }
      
      .method-notes	{
      	margin: 10px 0 20px 0;
      	font-size: 90%;
      	color: #555;
      }
      
      pre {
        padding: 10px;
        margin-bottom: 2px;
      }
      
      .http-method {
       text-transform: uppercase;
      }
      
      pre.get {
        background-color: #0f6ab4;
      }
      
      pre.post {
        background-color: #10a54a;
      }
      
      pre.put {
        background-color: #c5862b;
      }
      
      pre.delete {
        background-color: #a41e22;
      }
      
      .huge	{
      	color: #fff;
      }
      
      pre.example {
        background-color: #f3f3f3;
        padding: 10px;
        border: 1px solid #ddd;
      }
      
      code {
        white-space: pre;
      }
      
      .nickname {
        font-weight: bold;
      }
      
      .method-path {
        font-size: 1.5em;
        background-color: #0f6ab4;
      }
      
      .up {
        float:right;
      }
      
      .parameter {
        width: 500px;
      }
      
      .param {
        width: 500px;
        padding: 10px 0 0 20px;
        font-weight: bold;
      }
      
      .param-desc {
        width: 700px;
        padding: 0 0 0 20px;
        color: #777;
      }
      
      .param-type {
        font-style: italic;
      }
      
      .param-enum-header {
      width: 700px;
      padding: 0 0 0 60px;
      color: #777;
      font-weight: bold;
      }
      
      .param-enum {
      width: 700px;
      padding: 0 0 0 80px;
      color: #777;
      font-style: italic;
      }
      
      .field-label {
        padding: 0;
        margin: 0;
        clear: both;
      }
      
      .field-items	{
      	padding: 0 0 15px 0;
      	margin-bottom: 15px;
      }
      
      .return-type {
        clear: both;
        padding-bottom: 10px;
      }
      
      .param-header {
        font-weight: bold;
      }
      
      .method-tags {
        text-align: right;
      }
      
      .method-tag {
        background: none repeat scroll 0% 0% #24A600;
        border-radius: 3px;
        padding: 2px 10px;
        margin: 2px;
        color: #FFF;
        display: inline-block;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
  <h1>Mercado Tecla API</h1>
    <div class="app-desc">Endpoints que consumen el API de mercado libre.</div>
    <div class="app-desc">More information: <a href="https://helloreverb.com">https://helloreverb.com</a></div>
    <div class="app-desc">Contact Info: <a href="hello@helloreverb.com">hello@helloreverb.com</a></div>
    <div class="app-desc">Version: 0.0.1</div>
    <div class="app-desc">BasePath:/samuel-mc/MercadoTeclaAPI/0.0.1</div>
    <div class="license-info">All rights reserved</div>
    <div class="license-url">http://apache.org/licenses/LICENSE-2.0.html</div>
  <h2>Access</h2>

  <h2><a name="__Methods">Methods</a></h2>
  [ Jump to <a href="#__Models">Models</a> ]

  <h3>Table of Contents </h3>
  <div class="method-summary"></div>
  <h4><a href="#Default">Default</a></h4>
  <ul>
  <li><a href="#categoriasGet"><code><span class="http-method">get</span> /categorias</code></a></li>
  <li><a href="#productosCategoriaGet"><code><span class="http-method">get</span> /productos-categoria</code></a></li>
  <li><a href="#productosGet"><code><span class="http-method">get</span> /productos</code></a></li>
  <li><a href="#tendenciasGet"><code><span class="http-method">get</span> /tendencias</code></a></li>
  </ul>

  <h1><a name="Default">Default</a></h1>
  <div class="method"><a name="categoriasGet"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /categorias</code></pre></div>
    <div class="method-summary"> (<span class="nickname">categoriasGet</span>)</div>
    <div class="method-notes">Permite obtener todas las categorias disponibles en mercado libre.</div>







    <h3 class="field-label">Return type</h3>
    <div class="return-type">
      array[<a href="#inline_response_200">inline_response_200</a>]
      
    </div>

    <!--Todo: process Response Object and its headers, schema, examples -->

    <h3 class="field-label">Example data</h3>
    <div class="example-data-content-type">Content-Type: application/json</div>
    <pre class="example"><code>[ {
  "name" : "Accesorios para Vehículos",
  "id" : "MLM1747"
}, {
  "name" : "Accesorios para Vehículos",
  "id" : "MLM1747"
} ]</code></pre>

    <h3 class="field-label">Produces</h3>
    This API call produces the following media types according to the <span class="header">Accept</span> request header;
    the media type will be conveyed by the <span class="header">Content-Type</span> response header.
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">200</h4>
    Consulta satisfactoria
        
    <h4 class="field-label">400</h4>
    Problema al consultar a la API
        <a href="#String">String</a>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="productosCategoriaGet"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /productos-categoria</code></pre></div>
    <div class="method-summary"> (<span class="nickname">productosCategoriaGet</span>)</div>
    <div class="method-notes">Permite obtener lista de productos de acuerdo al id de una categoria.</div>





    <h3 class="field-label">Query parameters</h3>
    <div class="field-items">
      <div class="param">id (required)</div>
      
            <div class="param-desc"><span class="param-type">Query Parameter</span> &mdash; Codigo de la categoría. </div>    </div>  <!-- field-items -->


    <h3 class="field-label">Return type</h3>
    <div class="return-type">
      array[<a href="#inline_response_200_2">inline_response_200_2</a>]
      
    </div>

    <!--Todo: process Response Object and its headers, schema, examples -->

    <h3 class="field-label">Example data</h3>
    <div class="example-data-content-type">Content-Type: application/json</div>
    <pre class="example"><code>[ {
  "results" : [ {
    "thumbnail" : "http://http2.mlstatic.com/D_863786-MLA43609378084_092020-I.jpg",
    "price" : 425,
    "id" : "MLM885083730",
    "title" : "Aspiradora Mikel's Aasl-160 3.78l  Roja Y Negra 12"
  }, {
    "thumbnail" : "http://http2.mlstatic.com/D_863786-MLA43609378084_092020-I.jpg",
    "price" : 425,
    "id" : "MLM885083730",
    "title" : "Aspiradora Mikel's Aasl-160 3.78l  Roja Y Negra 12"
  } ]
}, {
  "results" : [ {
    "thumbnail" : "http://http2.mlstatic.com/D_863786-MLA43609378084_092020-I.jpg",
    "price" : 425,
    "id" : "MLM885083730",
    "title" : "Aspiradora Mikel's Aasl-160 3.78l  Roja Y Negra 12"
  }, {
    "thumbnail" : "http://http2.mlstatic.com/D_863786-MLA43609378084_092020-I.jpg",
    "price" : 425,
    "id" : "MLM885083730",
    "title" : "Aspiradora Mikel's Aasl-160 3.78l  Roja Y Negra 12"
  } ]
} ]</code></pre>

    <h3 class="field-label">Produces</h3>
    This API call produces the following media types according to the <span class="header">Accept</span> request header;
    the media type will be conveyed by the <span class="header">Content-Type</span> response header.
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">200</h4>
    Consulta satisfactoria.
        
    <h4 class="field-label">400</h4>
    Problema al consultar a la API
        <a href="#String">String</a>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="productosGet"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /productos</code></pre></div>
    <div class="method-summary"> (<span class="nickname">productosGet</span>)</div>
    <div class="method-notes">Permite obtener lista de productos.</div>





    <h3 class="field-label">Query parameters</h3>
    <div class="field-items">
      <div class="param">producto (required)</div>
      
            <div class="param-desc"><span class="param-type">Query Parameter</span> &mdash; Nombre del producto a buscar. </div>    </div>  <!-- field-items -->


    <h3 class="field-label">Return type</h3>
    <div class="return-type">
      array[<a href="#inline_response_200_3">inline_response_200_3</a>]
      
    </div>

    <!--Todo: process Response Object and its headers, schema, examples -->

    <h3 class="field-label">Example data</h3>
    <div class="example-data-content-type">Content-Type: application/json</div>
    <pre class="example"><code>[ {
  "results" : [ {
    "thumbnail" : "http://http2.mlstatic.com/D_717956-MLA46221874690_052021-I.jpg",
    "price" : 1169,
    "id" : "MLM934765052",
    "title" : "Disco Sólido Ssd Interno Kingston Sa400s37/480g 480gb Negro"
  }, {
    "thumbnail" : "http://http2.mlstatic.com/D_717956-MLA46221874690_052021-I.jpg",
    "price" : 1169,
    "id" : "MLM934765052",
    "title" : "Disco Sólido Ssd Interno Kingston Sa400s37/480g 480gb Negro"
  } ]
}, {
  "results" : [ {
    "thumbnail" : "http://http2.mlstatic.com/D_717956-MLA46221874690_052021-I.jpg",
    "price" : 1169,
    "id" : "MLM934765052",
    "title" : "Disco Sólido Ssd Interno Kingston Sa400s37/480g 480gb Negro"
  }, {
    "thumbnail" : "http://http2.mlstatic.com/D_717956-MLA46221874690_052021-I.jpg",
    "price" : 1169,
    "id" : "MLM934765052",
    "title" : "Disco Sólido Ssd Interno Kingston Sa400s37/480g 480gb Negro"
  } ]
} ]</code></pre>

    <h3 class="field-label">Produces</h3>
    This API call produces the following media types according to the <span class="header">Accept</span> request header;
    the media type will be conveyed by the <span class="header">Content-Type</span> response header.
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">200</h4>
    Busqueda satisfactoria.
        
    <h4 class="field-label">400</h4>
    Problema al consultar a la API
        <a href="#String">String</a>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="tendenciasGet"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /tendencias</code></pre></div>
    <div class="method-summary"> (<span class="nickname">tendenciasGet</span>)</div>
    <div class="method-notes">Permite obtener todas las tendencias en mercado libre.</div>







    <h3 class="field-label">Return type</h3>
    <div class="return-type">
      array[<a href="#inline_response_200_1">inline_response_200_1</a>]
      
    </div>

    <!--Todo: process Response Object and its headers, schema, examples -->

    <h3 class="field-label">Example data</h3>
    <div class="example-data-content-type">Content-Type: application/json</div>
    <pre class="example"><code>[ {
  "keyword" : "tapabocas kn95",
  "url" : "https://listado.mercadolibre.com.mx/tapabocas-kn95"
}, {
  "keyword" : "tapabocas kn95",
  "url" : "https://listado.mercadolibre.com.mx/tapabocas-kn95"
} ]</code></pre>

    <h3 class="field-label">Produces</h3>
    This API call produces the following media types according to the <span class="header">Accept</span> request header;
    the media type will be conveyed by the <span class="header">Content-Type</span> response header.
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">200</h4>
    Consulta satisfactoria
        
    <h4 class="field-label">400</h4>
    Problema al consultar a la API
        <a href="#String">String</a>
  </div> <!-- method -->
  <hr/>

  <h2><a name="__Models">Models</a></h2>
  [ Jump to <a href="#__Methods">Methods</a> ]

  <h3>Table of Contents</h3>
  <ol>
    <li><a href="#inline_response_200"><code>inline_response_200</code></a></li>
    <li><a href="#inline_response_200_1"><code>inline_response_200_1</code></a></li>
    <li><a href="#inline_response_200_2"><code>inline_response_200_2</code></a></li>
    <li><a href="#inline_response_200_3"><code>inline_response_200_3</code></a></li>
    <li><a href="#productos_results"><code>productos_results</code></a></li>
    <li><a href="#productoscategoria_results"><code>productoscategoria_results</code></a></li>
  </ol>

  <div class="model">
    <h3><a name="inline_response_200"><code>inline_response_200</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">id (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: MLM1747</span></div>
<div class="param">name (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: Accesorios para Vehículos</span></div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="inline_response_200_1"><code>inline_response_200_1</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">keyword (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: tapabocas kn95</span></div>
<div class="param">url (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: https://listado.mercadolibre.com.mx/tapabocas-kn95</span></div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="inline_response_200_2"><code>inline_response_200_2</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">results (optional)</div><div class="param-desc"><span class="param-type"><a href="#productoscategoria_results">array[productoscategoria_results]</a></span>  </div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="inline_response_200_3"><code>inline_response_200_3</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">results (optional)</div><div class="param-desc"><span class="param-type"><a href="#productos_results">array[productos_results]</a></span>  </div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="productos_results"><code>productos_results</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">id (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: MLM934765052</span></div>
<div class="param">title (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: Disco Sólido Ssd Interno Kingston Sa400s37/480g 480gb Negro</span></div>
<div class="param">price (optional)</div><div class="param-desc"><span class="param-type"><a href="#integer">Integer</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: 1169</span></div>
<div class="param">thumbnail (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: http://http2.mlstatic.com/D_717956-MLA46221874690_052021-I.jpg</span></div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="productoscategoria_results"><code>productoscategoria_results</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">id (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: MLM885083730</span></div>
<div class="param">title (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: Aspiradora Mikel&#x27;s Aasl-160 3.78l  Roja Y Negra 12</span></div>
<div class="param">price (optional)</div><div class="param-desc"><span class="param-type"><a href="#integer">Integer</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: 425</span></div>
<div class="param">thumbnail (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: http://http2.mlstatic.com/D_863786-MLA43609378084_092020-I.jpg</span></div>
    </div>  <!-- field-items -->
  </div>
  </body>
</html>
